.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url('../../Assets/images/login-backgorund.jpg');
    background-size: cover;
}

.form-container{
    width: 360px;
    height: 544px;
    background-image: url('./../../Assets/images/Group.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    width: 100px;
    border-bottom: 1px solid #6FCF97;
    position: relative;
    top: 17px;
    left: 50%;
    transform: translate(-50%, 0%);
    fill: red;
    text-align: center
}

.title span{
    color: #E0E0E0;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 300;
}

.logo-container{
    width: 180px;
    height: 180px;
    background-color: #6FCF97;
    border-radius: 100%;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.logo-container img{
    width: 120px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: red;
}

.input-container{
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 38px;
}

.button{
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.button button:disabled{
    background-color: #a28b8b !important;
}