@import '../../Assets/styles';

.input-wrapper{
  height: 78px;
  position: relative;

  .label{
    font-style: italic;
    color: $color-madatory;
  }

  .input{
    border: 1px solid $border;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding-left: 12px;
    outline: none;
    transition: .2s;
  }
  
  .input:hover{
    box-shadow: $header-shadow;
  }

  .input:focus{
    border-color: $green-normal;

    ~ span.hint{
      display: none;
    }
  }

  span.hint{
    margin-left: 2px;
    font-size: 12px;
    color: $red-normal;
    white-space: nowrap;
  }
}

.error .input{
  border-color: $red-normal;
}