@import '../../Assets/styles';

.input{
  border: 1px solid $border;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding-left: 12px;
  transition: .2s;
}

.input:hover{
  box-shadow: $header-shadow;
}