.listar-produtos{
  .top-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .left, .right{
      display: flex;
    }

    .cadastrar{
      margin-right: 16px;
    }

    .filtro{
      margin-left: 16px;
    }
  }
}