@import './../../../Assets/styles';

.button-disable{
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  transition: .2s;

  svg{
    font-size: 16px;

    path{
      fill: $grey-normal;
      transition: .2s;
    }
  }
}

.button-disable:hover{
  background-color: $grey-normal;
  opacity: .8;
  box-shadow: $button-shadow;

  svg{

    path{
      fill: $white;
    }
  }
}

.button-disable:active{
  background-color: $grey-dark;
}