@import '../../Assets/styles';

.styled-select-wrapper{
  display: flex;
  flex-direction: column;

  .select-label{
    font-style: italic;
    color: $color-madatory;
  }

  select{
    height: 40px;
    border: 1px solid $border;
    font-size: 18px;
    padding-left: 12px;
    outline: none;
    transition: .2s;
  }
  
  select:focus{
    border: 1px solid $green-normal;
  }
}