@import './../../Assets/styles';

.home-container{
  font-family: 'Rubik';
  font-weight: 300;
  width: 100%;
  min-width: 1019px;
  height: calc(100vh - 66px);
  padding: 24px;
  box-sizing: border-box;
  display: flex;

  .quantidades{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 48px;
    border-right: 1px solid $border;

    .total-dia, .total-mes{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .total-title{
        font-size: 35px;
        color: $grey-normal;
      }

      .value{
        font-size: 148px;
        color: $grey-normal;
      }
    }

    .total-dia{
      border-bottom: 1px solid $border;
    }
  }
  .table{
    flex-grow: 10;

    header{
      margin-left: 16px;
      height: 36px;
      display: flex;
      align-items: center;
      .atention svg{
        color: $yellow-normal;
      }
      .danger svg{
        color: $red-normal;
      }

      .atention, .danger{
        font-size: 24px;
        margin-right: 16px;

        svg{
          font-size: 28px;
          margin-right: 4px;
        }
      }
    }

    section{
      padding: 24px;
      padding-right: 0;
    }
  }

}