@import '../../../Assets/styles';

.cadastrar-wrapper{
  padding: 24px;
  min-width: 954px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 96px);

  .form-cadastrar-container{
    width: 100%;
    max-width: 840px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: $header-shadow;

    .cadastrar-content{
      margin-bottom: 32px;
    }
    .cadastrar-footer{
      width: 100%;
      display: flex;
      justify-content: space-between;
      
      div{
        display: flex;
        justify-content: space-between;
  
        .secondary-button{
          margin-right: 24px;
        }
      }
    }
  }
}