@import './../../Assets/styles';

.sidebar-container{
  width: 224px;
  height: 100vh;
  background-color: $grey-dark;
  font-family: $font;
  position: fixed;
  z-index: 5;

  .sidebar-link{
    width: 100%;
    height: 60px;
    border: none;
    border-top: 1px solid $grey-normal;
    background-color: $grey-dark;
    outline: none;
    color: $white;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    transition: .2s;

  }

  .active{
    background-color: $grey-normal;
    color: $green-logo;
  }

  .sidebar-link:hover{
    background-color: $grey-darker !important;
  }

  .sidebar-link:nth-last-child(2){
    border-bottom: 1px solid $grey-normal;
  }

  .sidebar-link:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    color: $red-normal;
    font-size: 18px;
  }

  .logo{
    height: 286px;
    position: relative;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.page{
  float: right;
  width: calc(100% - 224px);
  height: 100vh;
}