.page-wrapper{
  width: 100vw;
  height: 100vh;

  .top-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .left, .right{
      display: flex;
    }

    .cadastrar{
      margin-right: 16px;
    }
    
    
    .filtro{
      margin-left: 16px;
    }
  }
}