@import './../../../Assets/styles';

.button-details{
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: .2s;

  svg{
    font-size: 24px;

    path{
      fill: $green-normal;
      transition: .2s;
    }
  }
}

.button-details:hover{
  background-color: $green-normal;
  opacity: .8;
  box-shadow: $button-shadow;

  svg{

    path{
      fill: $white;
    }
  }
}

.button-details:active{
  background-color: $green-dark;
}

.button-details:hover::after{
  content: 'Detalhes';
  background-color: $color-madatory;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 4px;
  color: white;
}